/*color */
/*font*/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .clearfix:after {
    clear: both; }

.plugin-selectorOptions {
  font-size: 12px; }
  .plugin-selectorOptions li {
    display: inline-block;
    border: 1px solid #c9c9c9;
    margin: 2px;
    cursor: pointer;
    max-width: 100px;
    height: 22px;
    line-height: 22px;
    overflow: hidden;
    padding: 0 5px;
    text-overflow: ellipsis;
    white-space: nowrap; }
    .plugin-selectorOptions li.selected {
      border-color: #2196f3;
      background: url(../scripts/plugins/selector/selected.png) right bottom no-repeat; }
  .plugin-selectorOptions .selectall {
    position: absolute;
    width: 50px;
    line-height: 30px;
    color: #2196f3;
    cursor: pointer;
    text-align: center; }
