/*color */
$white:#fff;

$red: #f44336;
$redLighten-1 :#ef5350;
$redLighten-2 :#e57373;
$redLighten-3 :#ef9a9a;
$redLighten-4 :#ffcdd2;
$redLighten-5 :#ffebee;
$redDarken-1 :#e53935;
$redDarken-2 :#d32f2f;
$redDarken-3 :#c62828;
$redDarken-4 :#ffebee;
$redAccent-1 :#ff8a80;
$redAccent-2 :#ff5252;
$redAccent-3 :#ff1744;
$redAccent-4 :#d50000;

$pink :#e91e63;
$pinkLighten-1 :#ec407a;
$pinkLighten-2 :#f06292;
$pinkLighten-3 :#f48fb1;
$pinkLighten-4 :#f8bbd0;
$pinkLighten-5 :#fce4ec;
$pinkDarken-1 :#d81b60;
$pinkDarken-2 :#c2185b;
$pinkDarken-3 :#ad1457;
$pinkDarken-4 :#880e4f;
$pinkAccent-1 :#ff80ab;
$pinkAccent-2 :#ff4081;
$pinkAccent-3 :#f50057;
$pinkAccent-4 :#c51162;

$purple :#9c27b0;
$purpleLighten-1 :#ab47bc;
$purpleLighten-2 :#ba68c8;
$purpleLighten-3 :#ce93d8;
$purpleLighten-4 :#e1bee7;
$purpleLighten-5 :#f3e5f5;
$purpleDarken-1 :#8e24aa;
$purpleDarken-2 :#7b1fa2;
$purpleDarken-3 :#6a1b9a;
$purpleDarken-4 :#4a1c8c;
$purpleAccent-1 : #ea80fc;
$purpleAccent-2 : #e040fb;
$purpleAccent-3 : #d500f9;
$purpleAccent-4 : #aa00ff;

$deepPurple : #673ab7;
$deepPurpleLighten-1 : #7e57c2;
$deepPurpleLighten-2 : #9575cd;
$deepPurpleLighten-3 : #b39ddb;
$deepPurpleLighten-4 : #d1c4e9;
$deepPurpleLighten-5 : #ede7f6;
$deepPurpleDarken-1 :#5e35b1;
$deepPurpleDarken-2 :#512da8;
$deepPurpleDarken-3 :#4527a0;
$deepPurpleDarken-4 :#311b92;
$deepPurpleAccent-1 : #b388ff;
$deepPurpleAccent-2 : #7c4dff;
$deepPurpleAccent-3 : #651fff;
$deepPurpleAccent-4 : #6200ea;

$indigo : #3f51b5;
$indigoLighten-1 : #5c6bc0;
$indigoLighten-2 : #7986cb;
$indigoLighten-3 : #9fa8da;
$indigoLighten-4 : #c5cae9;
$indigoLighten-5 : #e8eaf6;
$indigoDarken-1 :#3949ab;
$indigoDarken-2 :#303f9f;
$indigoDarken-3 :#283593;
$indigoDarken-4 :#1a237e;
$indigoAccent-1 : #8c9eff;
$indigoAccent-2 : #536dfe;
$indigoAccent-3 : #3d5afe;
$indigoAccent-4 : #304ffe;

$blue : #2196f3;
$blueLighten-1 : #42a5f5;
$blueLighten-2 : #64b5f6;
$blueLighten-3 : #90caf9;
$blueLighten-4 : #bbdefb;
$blueLighten-5 : #e3f2fd;
$blueDarken-1 :#1e88e5;
$blueDarken-2 :#1976d2;
$blueDarken-3 :#1560c0;
$blueDarken-4 :#0d47a1;
$blueDarken-5 :#3399cc;
$blueAccent-1 : #82b1ff;
$blueAccent-2 : #448aff;
$blueAccent-3 : #2979ff;
$blueAccent-4 : #2962ff;

$lightBlue : #03a9f4;
$lightBlueLighten-1 : #29b6f6;
$lightBlueLighten-2 : #4fc3f7;
$lightBlueLighten-3 : #81d4fa;
$lightBlueLighten-4 : #b3e5fc;
$lightBlueLighten-5 : #e1f5fe;
$lightBlueDarken-1 :#039be5;
$lightBlueDarken-2 :#0288d1;
$lightBlueDarken-3 :#0277bd;
$lightBlueDarken-4 :#01579b;
$lightBlueAccent-1 : #80d8ff;
$lightBlueAccent-2 : #40c4ff;
$lightBlueAccent-3 : #00b0ff;
$lightBlueAccent-4 : #0091ea;

$cyan : #00bcd4;
$cyanLighten-1 : #26c6da;
$cyanLighten-2 : #4dd0e1;
$cyanLighten-3 : #80deea;
$cyanLighten-4 : #b2ebf2;
$cyanLighten-5 : #e0f7fa;
$cyanDarken-1 :#00acc1;
$cyanDarken-2 :#0097a7;
$cyanDarken-3 :#00838f;
$cyanDarken-4 :#006064;
$cyanAccent-1 : #84ffff;
$cyanAccent-2 : #18ffff;
$cyanAccent-3 : #00e5ff;
$cyanAccent-4 : #00b8d4;

$teal :#009688;
$tealLighten-1 : #26a69a;
$tealLighten-2 : #4db6ac;
$tealLighten-3 : #80cbc4;
$tealLighten-4 : #b2dfdb;
$tealLighten-5 : #e0f2f1;
$tealDarken-1 :#00897b;
$tealDarken-2 :#00796b;
$tealDarken-3 :#00695c;
$tealDarken-4 :#004d40;
$tealAccent-1 : #a7ffeb;
$tealAccent-2 : #64ffda;
$tealAccent-3 : #1de9b6;
$tealAccent-4 : #00bfa5;

$green :#4caf50;
$greenLighten-1 : #66bb6a;
$greenLighten-2 : #81c784;
$greenLighten-3 : #a5d6a7;
$greenLighten-4 : #c8e6c9;
$greenLighten-5 : #e8f5e9;
$greenDarken-1 :#43a047;
$greenDarken-2 :#388e3c;
$greenDarken-3 :#2e7d32;
$greenDarken-4 :#1b5e20;
$greenAccent-1 : #b9f6ca;
$greenAccent-2 : #69f0ae;
$greenAccent-3 : #00e676;
$greenAccent-4 : #00c853;

$lightGreen :#8bc34a;
$lightGreenLighten-1 : #9ccc65;
$lightGreenLighten-2 : #aed581;
$lightGreenLighten-3 : #c5e1a5;
$lightGreenLighten-4 : #dcedc8;
$lightGreenLighten-5 : #f1f8e9;
$lightGreenDarken-1 :#7cb342;
$lightGreenDarken-2 :#689f38;
$lightGreenDarken-3 :#558b2f;
$lightGreenDarken-4 :#33691e;
$lightGreenAccent-1 : #ccff90;
$lightGreenAccent-2 : #b2ff59;
$lightGreenAccent-3 : #76ff03;
$lightGreenAccent-4 : #64dd17;

$lime :#cddc39;
$limeLighten-1 : #d4e157;
$limeLighten-2 : #dce775;
$limeLighten-3 : #e6ee9c;
$limeLighten-4 : #f0f4c3;
$limeLighten-5 : #f9fbe7;
$limeDarken-1 :#c0ca33;
$limeDarken-2 :#afb42b;
$limeDarken-3 :#9e9d24;
$limeDarken-4 :#827717;
$limeAccent-1 : #f4ff81;
$limeAccent-2 : #eeff41;
$limeAccent-3 : #c6ff00;
$limeAccent-4 : #aeea00;

$yellow :#ffeb3b;
$yellowLighten-1 : #ffee58;
$yellowLighten-2 : #fff176;
$yellowLighten-3 : #fff59d;
$yellowLighten-4 : #fff9c4;
$yellowLighten-5 : #fffde7;
$yellowDarken-1 :#fdd835;
$yellowDarken-2 :#fbc02d;
$yellowDarken-3 :#f9a825;
$yellowDarken-4 :#f57f17;
$yellowAccent-1 : #ffff8d;
$yellowAccent-2 : #ffff00;
$yellowAccent-3 : #ffea00;
$yellowAccent-4 : #ffd600;

$amber :#ffc107;
$amberLighten-1 : #ffca28;
$amberLighten-2 : #ffd54f;
$amberLighten-3 : #ffe082;
$amberLighten-4 : #ffecb3;
$amberLighten-5 : #fff8e1;
$amberDarken-1 :#ffb300;
$amberDarken-2 :#ffa000;
$amberDarken-3 :#ff8f00;
$amberDarken-4 :#ff6f00;
$amberAccent-1 : #ffe57f;
$amberAccent-2 : #ffd740;
$amberAccent-3 : #ffc400;
$amberAccent-4 : #ffab00;

$orange :#ff9800;
$orangeLighten-1 : #ffa726;
$orangeLighten-2 : #ffb74b;
$orangeLighten-3 : #ffcc80;
$orangeLighten-4 : #ffe0b2;
$orangeLighten-5 : #fff3e0;
$orangeDarken-1 :#fb8c00;
$orangeDarken-2 :#f57c00;
$orangeDarken-3 :#ef6c00;
$orangeDarken-4 :#e65100;
$orangeAccent-1 : #ffd180;
$orangeAccent-2 : #ffab40;
$orangeAccent-3 : #ff9100;
$orangeAccent-4 : #ff6d00;

$deepOrange :#ff5722;
$deepOrangeLighten-1 : #ff7043;
$deepOrangeLighten-2 : #ff8a65;
$deepOrangeLighten-3 : #ffab91;
$deepOrangeLighten-4 : #ffccbc;
$deepOrangeLighten-5 : #fbe9e7;
$deepOrangeDarken-1 :#f4511e;
$deepOrangeDarken-2 :#e64a19;
$deepOrangeDarken-3 :#d84315;
$deepOrangeDarken-4 :#bf360c;
$deepOrangeAccent-1 : #ff9e80;
$deepOrangeAccent-2 : #ff6e40;
$deepOrangeAccent-3 : #ff3d00;
$deepOrangeAccent-4 : #dd2c00;

$brown :#795548;
$brownLighten-1 : #8d6e63;
$brownLighten-2 : #a1887f;
$brownLighten-3 : #bcaaa4;
$brownLighten-4 : #d7ccc8;
$brownLighten-5 : #efebe9;
$brownDarken-1 :#6d4c41;
$brownDarken-2 :#5d4037;
$brownDarken-3 :#4e342e;
$brownDarken-4 :#3e2723;

$grey :#9e9e9e;
$greyLighten-1 : #bdbdbd;
$greyLighten-2 : #e0e0e0;
$greyLighten-3 : #eeeeee;
$greyLighten-4 : #f5f5f5;
$greyLighten-5 : #fafafa;
$greyDarken-1 :#757575;
$greyDarken-2 :#616161;
$greyDarken-3 :#424242;
$greyDarken-4 :#212121;

/*font*/
$fontSize-12 : 12px;
$fontSize-14 : 14px;
$fontSize-16 : 16px;
$fontSize-18 : 18px;
$fontSize-22 : 22px;
$fontSize-26 : 26px;
$fontFamily-wryh : "微软雅黑";
$fontFamily-st : "宋体";
$fontFamily-arial : "Arial";
$fontWeight-normal : "normal"; 
$fontWeight-bold : "bold"; 
$fontLineHeight-12 : 12px;
$fontLineHeight-14 : 22px;
$fontLineHeight-16 : 24px;
$fontLineHeight-18 : 30px;
$fontColor-000 : #000;
$fontColor-333 : #333;
$fontColor-4a : #4a4a4a;
$fontColor-6c : #6c6c6c;
$fontColor-9c : #9c9c9c;
$fontColor-0064d3 : #0064d3;
$fontColor-399deb : #399deb;
$fontColor-fd8500 : #fd8500;


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*# sourceMappingURL=reset.css.map */

